################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/Paradox_Dots_and_Boxes_Solver
/.vs/Paradox_Dots_and_Boxes_Solver/v15
/Paradox_Dots_and_Boxes_Solver.sln
/x64/Release
